/* html, body { height: 100%; } */
#content {
    a {
	text-decoration: initial;
    }
    &.home {
	#logo {
	    display: block;
	    width: 70em;
	    height: 20em;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 14em;

	    background-image: url("/assets/HOMElogo.png");
	    background-repeat: no-repeat;
	    background-position: center 1em;
	}
    }

    #page {
	box-sizing: border-box;
	width: 60em;
	height: 25em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	background-color: hsla(360, 100%, 100%, 0.84);

	&.about {
	    padding: 3em;
	    line-height: 1.4em;
	    text-align: justify;
	}

	&.contacts {
	    a {
		display: inline-block;
		&.map { right: 0; position: absolute; }
	    }

	    #text {
		line-height: 1.4em;
		padding-top: 3em;
		position: relative;
		margin: 0 auto;
		text-align: justify;
		width: 11.5em;
	    }

	    #contacts_logo {
		margin: 0 auto 2em;
		width: 11.5em;
		height: 6em;
		background-image: url("/assets/CONTACTlogo.png");
		background-size: cover;
		background-repeat: no-repeat;
	    }
	}
    }

    #navigation {
	margin-top: 3em;
	margin-right: auto;
	margin-left: auto;
	width: 60em;
	height: 5em;
	ul {
	    li {
		float: left;
		width: 32%;
		height: 3em;
		&.current {
		   a { border-bottom: 5px solid rgb(125, 231, 200); }
		}
		a {
		    letter-spacing: .2em;
		    display: table;
		    margin: auto auto;
		    color: black;
		    text-decoration: initial;
		    font-size: 1.2em;
		    padding-bottom: .5em;
		}
	    }
	}
    }
}
