/* html, body { height: 100%; } */
#content {
    &.home {
	#logo {
	    display: block;
	    width: 70em;
	    height: 20em;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 14em;

	    background-image: url("/assets/HOMElogo.png");
	    background-repeat: no-repeat;
	    background-position: center 1em;
	}
    }
    #page {
	display: block;
	width: 60em;
	height: 25em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	background-color: hsla(360, 100%, 100%, 0.84);
	&.about {
	    box-sizing: border-box;
	    padding: 3em;
	    text-align: justify;
	    line-height: 1em;
	}
	&.contacts {
	    background-color: hsla(360, 100%, 100%, 0.20);
	    text-align: center;
	    background-image: url("/assets/CONTACTlogo.png");
	    background-size: cover;
	    background-repeat: no-repeat;
	    //background-position-x: 140px;
	    p:first-child { padding-top: 12em; }
	    p { margin-bottom: 1em; }
	}
    }
    #navigation {
	margin-top: 3em;
	margin-right: auto;
	margin-left: auto;
	width: 60em;
	height: 5em;
	ul {
	    li {
		float: left;
		width: 32%;
		height: 3em;
		&.current {
		   a { border-bottom: 5px solid rgb(125, 231, 200); }
		}
		a {
		    letter-spacing: .2em;
		    display: table;
		    margin: auto auto;
		    color: black;
		    text-decoration: initial;
		    font-size: 1.3em;
		    padding-bottom: .5em;
		}
	    }
	}
    }
}
