!!!5
%html
  %head
    - if site.assets_dev
      = "{{ 'app' | javascript }}"
      %meta{bg_path: "{% asset_path bg.jpg %}"}
    - else
      = "{% include assets.html %}"
    %title= "Caligari <> {{page.title}}"
  %body
    #container
      #header        
      #content{class: "{{page.title}}"}= "{{content}}"
      -# #navigation= "{% include navigation.html %}"
      #footer

