<!DOCTYPE html>
<html>
  <head>
    {{ 'app' | javascript }}
    {{ 'app' | stylesheet }}
    <meta asset_path='{% asset_path HOMEsfondo1.jpg %}'>
    <meta asset_path='{% asset_path HOMEsfondo2.jpg %}'>
    <meta asset_path='{% asset_path HOMEsfondo3.jpg %}'>
    <meta asset_path='{% asset_path ABOUTsfondo1.jpg %}'>
    <meta asset_path='{% asset_path ABOUTsfondo2.jpg %}'>
    <meta asset_path='{% asset_path ABOUTsfondo3.jpg %}'>
    <meta asset_path='{% asset_path CONTACTsfondo1.jpg %}'>
    <meta asset_path='{% asset_path CONTACTsfondo2.jpg %}'>
    <meta asset_path='{% asset_path CONTACTsfondo3.jpg %}'>
    <meta asset_path='{% asset_path HOMElogo.png %}'>
    <title>Caligari <> {{page.title}}</title>
  </head>
  <body>
    <div class='{{page.title}}' data-bg-duration='{{page.bg_duration}}' data-bg-fade='{{page.bg_fade}}' data-bg-images='{{page.bg_images | join }}' data-current='{{page.title}}' id='content'>{{content}}</div>
  </body>
</html>
